<div class="bg-primary">
  <div class="container flex flex-col justify-between py-6 sm:flex-row">
    <p class="text-center font-body text-white md:text-left">
      Made by <strong>{{ dataInfos.personalInfos.name }}</strong>.
    </p>
    <div class="flex items-center justify-center pt-5 sm:justify-start sm:pt-0 gap-2">
      @for (item of dataInfos.socialLinks; track item.name) {
        <a href="{{item.url}}"
           target="_blank">
          <i
            class="bx {{item.class}} text-2xl text-white hover:text-yellow"
          ></i>
        </a>
      }
    </div>
  </div>
</div>
